<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <a>Kaiser</a> <span id="username">&nbsp;</span>
</nav>

<canvas id="canvas" width="300" height="100">
    Loading...
</canvas>

<div class="container" id="login-container">
    <div class="login-form">
        <form>
            <h2 class="text-center">Kaiser Online</h2>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </div>
            <div class="clearfix">
                <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
            </div>
        </form>
    </div>
</div>

<div class="container" id="lobby-container">
    <div class="lobby">
        <div class="flex">
            <ul id="chat-user-list">
            </ul>
            <div id="chat">
            </div>
        </div>
        <form>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Message" aria-label="type here..." required maxlength="128">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>