@import "~bootstrap/scss/bootstrap";

html, body {
    max-width: 100vw;
    max-height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    height:100%;
    flex-direction: column;
}

canvas {
    width: 100%;
    height: 100%;
}

.login-form {
  width: 340px;
  margin: 50px auto;

  .form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
  }
  h2 {
    margin: 0 0 15px;
  }
  .form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
  }
  .btn {
    font-size: 15px;
    font-weight: bold;
  }
}

.container {
  position: absolute;
  top: 48px;
  bottom: 0;
  left: 0;
  right: 0;

  display: none;
  justify-content: center;
  align-items: center;

  &.show {
    display:flex;
  }
}

#lobby-container {
  .flex {
    display: flex;
  }

  .lobby {
    max-width: 640px;

    width: 100%;
  }

  #chat {
    padding: 12px;
    overflow-y: scroll;
    flex: 1;
    height: 100%;
    max-height: 480px;
  }
}